@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    min-height: 100vh;
}

.background {
    display: flex;

}

.nav__bar__left {
    background-color: yellow;
    flex: 1 1 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111536;
}

.main__block {
    background-color: aqua;
    flex: 1 1 69.4%;
}

.side__bar__right {
    background-color: black;
    flex: 1 1 25.6%;
}

.nav__1 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.nav__2 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav__1,
.nav__2 {
    width: 100%;
}



hr {
    width: 77.7%;
}

.home__img {
    position: relative;
}

.home__img img {
    position: relative;
    right: 4%;
}

.img__otstup {
    margin-bottom: 20px;
}

.nav__1 div,
.nav__2 div {
    text-align: center;
    width: 100%;
    padding: 20% 0;

}

.nav__1 div:hover,
.nav__2 div:hover {
    display: flex;
    justify-content: center;
    border-right: .5vw solid #FA1F60;
    background: #0D0F23;
    transition: .2s ease-out;
}

/* main block */
.main__block {
    background: #0D0F23;
    color: aliceblue;
    /* display: flex; */
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.search__bar {
    display: flex;
    align-items: center;
    border-radius: 48px;
    background: #161A42;
    padding: 6px 16px;
    width: 60%;
    transition: .5s;
    /* transform: rotate(180deg); */

}

.search__bar__active {
    transition: all .5s;
    background: #ffffff;
    border: #0D0F23 solid 2px;
    /* transform: rotate(360deg); */
}

.search__bar input {
    outline: none;
    border: none;
    background: none;
    color: aliceblue;
    width: 100%;
}

.search__bar img {
    width: 15px;
    margin-right: 4%;
}

.eth {
    display: flex;
    align-items: center;
    border-radius: 12px;
    background: #161A42;
    padding: 6px 16px;
}

.eth img {
    margin-right: 4px;
}

.list__view select {
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;


}


.list__view select option {
    color: #FFF;
    font-family: DM Sans;
    background: #0D0F23;
}

.user__list {
    display: flex;
    align-items: center;

}

.nanas__block {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.nanas__block img {
    margin-right: 5px;
}
.container{
    padding:10px;
}
.side__bar__right {
    background: #111536;
}

.right__hr {
    width: 80%;
    background: rgba(198, 199, 202, 0.20);
    margin: auto;
}

.details {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.details span {
    color: #FFF;

    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
}

.couple {
    margin-top: 50px;
    text-align: center;
    border-radius: 12px;
}

.fundament {
    color: #FFF;
    font-family: DM Sans;
    margin-top: 50px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.grey_text {
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 40px;
}

.farzana{
    margin-top:25px ;

}
.farzana_akter img{
    width:32px;
    border-radius: 50%;
    height: 32px;
    margin-top: 10px;
    margin-left: 35px;
}
.farzana{
    display: flex;
}
.zhazu {
    color: #FFF;
    padding: 15px;  
}

.cont{
    display: inline-flex;
    padding: 4px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid #FFF;
    color:#FFF;
    margin-left: 125px;
    margin-top: 11px;
    
}

.description_content{
    color: #FFF;
    font-family: DM Sans;
    margin-top: 80px;
    margin-left: -600px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.description_content2{
    font-size: 13px;
    color: gray;
    margin-top: 120px;
    margin-left:-360px ;
    letter-spacing: -0.42px;
    line-height: 24px; 
}
.bottom_button{
    width:300px;
    height:50px;
    background-color: #FA1F60;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 270px;
    margin-left: -230px;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(67, 67, 174), 0 0 5px darkblue;
}


.marketplace{
    display: flex;
    background-color: #161A42;
    border-radius: 20px;
    width:97%;
    height:200px;
    margin:auto;
    overflow:hidden;
    margin-top: 40px;
}
.marketplace{
    background-image: url('img/image\ 7.png');
    background-repeat: no-repeat;
    background-position: right;
}


.marketplace h1{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 35px;
    font-family: Poppins;
}
.marketplace span{
    font-size: 16px;
    color: #6C71AD;
    
}
.red_button {
    width:170px;
    height:50px;
    border-radius: 60px;
    background-color: #FA1F60;
    border-color: #FA1F60;
    font-size: 25px;
    color: #FFF;
    font-family: Poppins;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(67, 67, 174), 0 0 5px darkblue;
    margin-top: 130px;
    margin-left: -450px;
}
.purple_button{
    width:170px;
    height:50px;
    border-radius: 60px;
    background-color: #161A42;
    border-color: #FFF;
    font-size: 25px;
    color: #FFF;
    font-family: Poppins;
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(67, 67, 174), 0 0 5px darkblue;
    margin-top: 130px;
    margin-left: 100px;
}
.middle{
    margin-top:50px;
    margin-left: 28px;
    font-size: 20px;
    font-family: Poppins;
   

}
.middle div{
    display: inline-block;
}
.middle img{
    border-radius: 50%;
    margin-top: 20px;
}
.middle span{
    font-size: 12px;
    color: gray;
    font-family: Poppins;
}
.pink_guy, .girl, .girl2{
    margin-left:230px;
}

hr{
    margin-top: 50px;
    margin-left: 26px;
    width:95%;
}
.bottom div{
    display: inline-block;
    margin-top: 70px;
    margin-left: 100px;

}

.block1, .block2, .block3{
    display: flex;
    background-color: #161A42;
    border-radius: 20px;
    width:210px;
    height:240px;
    margin-top: 80px;
    
}

.bottom .img1{
    width:180px;
    height:130px;
    margin-top: 10px;
    margin-left: 13px;
    position: relative;
    z-index: 0;
}
.img2{
    position: relative;
    z-index: 1;
    margin-top:-50px;
    margin-left: 160px;
}
.bottom p{
    margin-left: 10px;
}
.bottom h1{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 13px;
    color: #FFF;

}
.bottom span{
    font-size: 10px;
    color: gray;
}
.bbutton{
    border-radius: 15px;
    width:90px;
    height: 30px;
    font-size: 10px;
    position: absolute;
    margin-top: -30px;
    margin-left: 100px;
    color: #FFF;
    background-color: #161A42;
    border-color: #FFF;
}   



